In [ ]:
#Import Packages

import json
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [ ]:
request_string = f"http://www.omdbapi.com/?i=tt3896198&apikey=289fabe9&t=Avengers"
resp = requests.get(request_string)
resp = json.loads(resp.content)

In [ ]:
resp

{'Title': 'The Avengers',
 'Year': '2012',
 'Rated': 'PG-13',
 'Released': '04 May 2012',
 'Runtime': '143 min',
 'Genre': 'Action, Adventure, Sci-Fi',
 'Director': 'Joss Whedon',
 'Writer': 'Joss Whedon, Zak Penn',
 'Actors': 'Robert Downey Jr., Chris Evans, Scarlett Johansson',
 'Plot': "Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.",
 'Language': 'English, Russian, Hindi',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 38 wins & 80 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.0/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '91%'},
  {'Source': 'Metacritic', 'Value': '69/100'}],
 'Metascore': '69',
 'imdbRating': '8.0',
 'imdbVotes': '1,373,524',
 'imdbID': 'tt0848228',
 'Type': 'movie',
 'DVD': '25 Sep 2012',
 'BoxOffice': '$623,357,910',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [ ]:
list_of_title = [
    'Guardians of the Galaxy',
    'Thor Ragnarok',
    'Despicable Me',
    'Inception',
    'Cloud Atlas',
    'Mission Impossible Fallout',
    'Man of Steel',
    'Avengers Endgame'
]

In [ ]:
data = []

for i in list_of_title:
  datum = {}
  request_string = f"http://www.omdbapi.com/?i=tt3896198&apikey=289fabe9&t={i}"
  resp = requests.get(request_string)
  resp = json.loads(resp.content)
  datum['Title'] = resp['Title']
  datum['Year of Release'] = resp['Year']
  datum['Runtime'] = resp['Runtime']
  datum['Director'] = resp['Director']
  datum['Rotten Tomatoes Rating'] = resp['Ratings'][1]['Value']
  datum['Plot'] = resp['Plot']
  data.append(datum)

In [ ]:
df = pd.DataFrame.from_dict(data)
df

,Title,Year of Release,Runtime,Director,Rotten Tomatoes Rating,Plot
0,Guardians of the Galaxy,2014,121 min,James Gunn,92%,A group of intergalactic criminals must pull t...
1,Thor: Ragnarok,2017,130 min,Taika Waititi,93%,"Imprisoned on the planet Sakaar, Thor must rac..."
2,Despicable Me,2010,95 min,"Pierre Coffin, Chris Renaud",81%,When a criminal mastermind uses a trio of orph...
3,Inception,2010,148 min,Christopher Nolan,87%,A thief who steals corporate secrets through t...
4,Cloud Atlas,2012,172 min,"Tom Tykwer, Lana Wachowski, Lilly Wachowski",66%,An exploration of how the actions of individua...
5,Mission: Impossible - Fallout,2018,147 min,Christopher McQuarrie,97%,"Ethan Hunt and his IMF team, along with some f..."
6,Man of Steel,2013,143 min,Zack Snyder,56%,An alien child is evacuated from his dying wor...
7,Avengers: Endgame,2019,181 min,"Anthony Russo, Joe Russo",94%,After the devastating events of Avengers: Infi...